<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="width: 100%;text-align:center;margin-top: 60px; margin-bottom: 30px;">
    <img src="assets/img/logo.png" style="width:180px;" alt="Ionic logo">
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked" color="primary">Email</ion-label>
          <ion-input [(ngModel)]="signup.email" name="email" type="email" placeholder="Silahkan masukkan email anda" #email="ngModel" required>
          </ion-input>
        </ion-item> 
        <ion-item>
          <ion-button (click)="kirim_kode()">Kirim Kode</ion-button>
        </ion-item> 
        <ion-item>
          <ion-label position="stacked" color="primary">Kode Unik</ion-label>
          <ion-input [(ngModel)]="signup.kode_unik" name="kode_unik" type="text" placeholder="Silahkan masukkan kode unik" #email="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="reset_password()">Reset Password</ion-button>
        </ion-item>                             
    </ion-list>
  </form>

</ion-content>
