.con-wrapper{
    background-color:#f7c6c6;
    border-radius: 10px;
    min-height: 170px;
}
.img-wrapper {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin : 0 auto;
}
.con-text{
    width: 100%;
    margin-top : 10px;
    text-align: center;
    font-weight: bold;
}